@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-light: #e0e0e0;
  --bg-color-dark: rgb(32, 32, 32);
  --accent-color: #e6c753;
  --font-primary: "Poppins", sans-serif;
  --m-div: 128px;
  --m-content: 75px;
}

/* @keyframes gradient {
  0% {
    background-color: rgb(32, 32, 32);
  }
  25% {
    background-color: rgb(29, 29, 29);
  }
  50% {
    background-color: rgb(24, 24, 24);
  }
  75% {
    background-color: rgb(27, 27, 27);
  }
  100% {
    background-color: rgb(32, 32, 32);
  }
} */

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
}

body {
  background-color: var(--bg-color-dark);
  color: var(--bg-color-light);
  /* animation: gradient 10s ease-in-out infinite; */
}
